<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Edit Category</h3>
      </div>

      <%= render 'form' %>
    </div>
  </div>
</div>

<%= link_to 'Back', admin_categories_path %>
