<h1>Category <%= @category.name %></h1>

<h2>Posts</h2>

<% @category.posts.each do |post| %>
  <div>
    <h3><%= link_to post.title, post.slug %></h3>
    <span class="date"><%= time_ago_in_words(post.created_at) %></span>
    <%= simple_format post.body %>
    </hr>
  </div>
<% end %>