<!DOCTYPE html>
<html>
<head>
  <title>OpenCms</title>
  <!-- FontAwesome 4.3.0 -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- Ionicons 2.0.0 -->
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

  <!-- Theme style -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue sidebar-mini layout-editor">

  <div class="wrapper">
    <%= yield %>
  </div>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- jQuery UI 1.11.4 -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

  <script>
    $(function(){
      var editor = new MediumEditor('.editable', {
        keyboardCommands: false,
        imageDragging: false,
        toolbar: {
          buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'orderedlist', 'unorderedlist', 'justifyLeft', 'justifyCenter', 'justifyRight']
        },
        placeholder: {
          text: 'Type your text',
        },
        autoLink: true
      });
      $('.editable').mediumInsert({
        editor: editor,
        addons: {
          images: {
            fileUploadOptions: {
              url: '/images/upload'
            }
          }
        }
      });
    });
  </script>
</body>
</html>
